<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>
        <a href="#!/addCourse" class="btn btn-primary">Create new Course</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    Id
                </th>
                <th scope="col">
                    Course Level
                </th>
                <th scope="col">
                    Course Name
                </th>
                <th scope="col">
                    Course Duration
                </th>
                <th scope="col">
                    Fee
                </th>
                <th></th>
                <th></th>                
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="course in courses">
                <td>
                    {{course.id}}
                </td>
                <td>
                    {{course.courseLevel}}
                </td>
                <td>
                    {{course.courseName}}
                </td>
                <td>
                    {{course.courseDuration}}
                </td>
                <td>
                    {{course.fee}}
                </td>
                <td>
                    <a class="btn btn-info btn-sm" href="#!/editCourse/{{course.id}}">Edit</a>
                </td>                
                <td>
                    <a class="btn btn-danger btn-sm" ng-click="Delete(course)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>