<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <br />
    <form>        
        <div class="form-group row">
            <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
            <div class="col-7">
                <input type="text" class="form-control" placeholder="First Name" ng-model="student.firstName" />
            </div>
        </div>

        <div class="form-group row">
            <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-7">
                <input type="text" class="form-control" placeholder="Last Name" ng-model="student.lastName" />
            </div>
        </div>

        <div class="form-group row">
            <label for="phone" class="col-sm-2 col-form-label">Phone</label>
            <div class="col-7">
                <input type="text" class="form-control" placeholder="Phone" ng-model="student.phone" />
            </div>
        </div>

        <div class="form-group row">
            <label for="firstLesson" class="col-sm-2 col-form-label">First Lesson</label>
            <div class="col-7">
                <input type="text" class="form-control" ng-model="student.firstLesson" placeholder="yyyy-MM-dd" />[ex: 2021-01-21]
            </div>
        </div>

        <div class="form-group row">
            <label for="paymentStatus" class="col-sm-2 col-form-label">Payment Status</label>
            <div class="col-7">
                <select class="form-control" ng-model="student.paymentStatus">
                    <option value="" selected>Select Payment Status</option>
                    <option value=0>Paid</option>
                    <option value=1>Not Paid</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="groupId" class="col-sm-2 col-form-label">Group Id</label>
            <div class="col-7">
                <select class="form-control"
                        ng-options="group.id as group.id for group in groups"
                        ng-model="student.groupId">
                    <option value="">Select a group</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <input type="submit" value="Save" class="btn btn-primary" ng-click="SaveStudent()" />
            </div>
        </div>
    </form>
</body>
</html>