<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>
        <a href="#!/addStudent" class="btn btn-primary">Create new Student</a>
    </p>
    <div class="form-group row">
        <div class="col-2">
            <select class="form-control"
                    ng-options="group as group.id for group in groups"
                    ng-model="selectedGroup" ng-change="GetStudents()">
                <option value="">Select a group</option>
            </select>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Phone
                </th>
                <th>
                    First Lesson
                </th>
                <th>
                    Payment Status
                </th>
                <th>
                    GroupId
                </th>
                <th></th>
                <th></th>                
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="student in students">
                <td>
                    {{student.id}}
                </td>
                <td>
                    {{student.firstName}}
                </td>
                <td>
                    {{student.lastName}}
                </td>
                <td>
                    {{student.phone}}
                </td>
                <td>
                    <label ng-bind="formatDate(student.firstLesson) | date:'MM/dd/yyyy'"></label>
                </td>
                <td>
                    {{student.paymentStatus}}
                </td>
                <td>
                    {{student.groupId}}
                </td>
                <td>
                    <a href="#!/editStudent/{{student.id}}">Edit</a>
                </td>                
                <td>
                    <a class="badge badge-danger" ng-click="Delete(student)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>