<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <br />
    <form>
        <div class="form-group row">
            <label for="groupLevel" class="col-sm-2 col-form-label">Group Level</label>
            <div class="col-7">
                <select class="form-control" ng-model="group.groupLevel">
                    <option value="" selected>Select Group Level</option>
                    <option value=0>L1</option>
                    <option value=1>L2</option>
                    <option value=2>L3</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="lessonDays" class="col-sm-2 col-form-label">Lesson Days</label>
            <div class="col-7">
                <select class="form-control" ng-model="group.lessonDays">
                    <option value="" selected>Select Lesson Days</option>
                    <option value=0>Mon/Wed/Fri</option>
                    <option value=1>Tue/Thu/Sat</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="groupLevel" class="col-sm-2 col-form-label">Group Time</label>
            <div class="col-7">
                <select class="form-control" ng-model="group.groupTime">
                    <option value="" selected>Select Group Time</option>
                    <option value=0>9:00-11:00</option>
                    <option value=1>11:00-13:00</option>
                    <option value=2>15:00-17:00</option>
                    <option value=3>17:00-19:00</option>
                    <option value=4>19:00-21:00</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="startDate" class="col-sm-2 col-form-label">Start Date</label>
            <div class="col-7">
                <input type="text" class="form-control" ng-model="group.startDate" placeholder="yyyy-MM-dd"/> [ex: 2021-01-21]
            </div>
        </div>

        <div class="form-group row">
            <label for="groupStatus" class="col-sm-2 col-form-label">Group Status</label>
            <div class="col-7">
                <select class="form-control" ng-model="group.groupStatus">
                    <option value="" selected>Select Group Status</option>
                    <option value=0>Not Full</option>
                    <option value=1>Full</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="numOfStudents" class="col-sm-2 col-form-label">NumOfStudents</label>
            <div class="col-7">
                <input type="number" class="form-control" placeholder="Number of students" ng-model="group.numOfStudents" />
            </div>
        </div>

        <div class="form-group row">
            <label for="courseId" class="col-sm-2 col-form-label">Course Name</label>
            <div class="col-7">
                <select class="form-control"
                        ng-options="course.id as course.courseName for course in courses"
                        ng-model="group.courseId">
                    <option value="">Select a course</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="teacherId" class="col-sm-2 col-form-label">Teacher Name</label>
            <div class="col-7">
                <select class="form-control"
                        ng-options="teacher.id as teacher.firstName for teacher in teachers"
                        ng-model="group.teacherId">
                    <option value="">Select a teacher</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <input type="submit" value="Save" class="btn btn-primary" ng-click="SaveGroup()" />
            </div>
        </div>
    </form>
</body>
</html>