<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <br />
    <form>
        <div class="form-group row">
            <label for="groupLevel" class="col-sm-2 col-form-label">Group Level</label>
            <div class="col-7"> 
                <select class="form-control"
                        ng-options="lvl.value as lvl.name for lvl in levels"
                        ng-model="group.groupLevel">
                    <option value="">Select Group Level</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="lessonDays" class="col-sm-2 col-form-label">Lesson Days</label>
            <div class="col-7"> 
                <select class="form-control"
                        ng-options="d.value as d.name for d in days"
                        ng-model="group.lessonDays">
                    <option value="">Select Lesson Days</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="groupTime" class="col-sm-2 col-form-label">Group Time</label>
            <div class="col-7">
                <select class="form-control"
                        ng-options="t.value as t.name for t in time"
                        ng-model="group.groupTime">
                    <option value="">Select Group Time</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="startDate" class="col-sm-2 col-form-label">Start Date</label>
            <div class="col-7">
                <input type="text" class="form-control" ng-model="group.startDate" placeholder="yyyy-MM-dd"/> [ex: 2021-01-21]
            </div>
        </div>

        <div class="form-group row">
            <label for="groupStatus" class="col-sm-2 col-form-label">Group Status</label>
            <div class="col-7"> 
                <select class="form-control"
                        ng-options="s.value as s.name for s in status"
                        ng-model="group.groupStatus">
                    <option value="">Select Group Status</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="numOfStudents" class="col-sm-2 col-form-label">NumOfStudents</label>
            <div class="col-7">
                <input type="number" class="form-control" placeholder="Number of students" ng-model="group.numOfStudents" />
            </div>
        </div>

        <div class="form-group row">
            <label for="courseId" class="col-sm-2 col-form-label">Course Name</label>
            <div class="col-7">
                <select class="form-control"
                        ng-options="course.id as course.courseName for course in courses"
                        ng-model="group.courseId">
                    <option value="">Select a course</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="teacherId" class="col-sm-2 col-form-label">Teacher Name</label>
            <div class="col-7">
                <select class="form-control"
                        ng-options="teacher.id as teacher.firstName for teacher in teachers"
                        ng-model="group.teacherId">
                    <option value="">Select a teacher</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <input type="submit" value="Save" class="btn btn-primary" ng-click="SaveGroup()" />
            </div>
        </div>
    </form>
</body>
</html>